* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {

	/*Value for rem is short for root-em, most of browsers has a font size value of 16px*/
	/*1rem is equivalent to 16px*/
	/*0.8 multiply to 16, is equals to 12.800*/
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

	/*margin vs padding*/
	/*margin is best used when creating space between elements.*/
	/*padding is best used when creating space between and element's border and it's content.*/

nav .nav, nav .nav-logo {
	/*Changes elements to inline elements*/
	display: inline;
	margin: 0.5rem;
	/*
	margin-top:0.5rem
	margin-right:0.5rem
	margin-bottom:0.5rem
	margin-left:0.5rem
	*/
}

#intro {
	/*
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	*/

	/*shorthand property*/
	padding: 2rem 10% 3rem 10%;

	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	background-color: #c2195b;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info .card {
	/*Allows the cards to appear beside each other*/
	display: inline-block;
	/*Aligns the elements with the tallest element in line*/
	/*Used with the inline-block value*/
	vertical-align: top;
	/*Allows for the cards to have an equal height that adjust with the content*/
	min-height: 175px;
		/* Usually define to identify the minimum height */
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
