
/*

CSS Rules

selector{
	property:value;
}
*/


/*Universal Selector*/
*{
	/*	Monospace acts as alternate font*/
	font-family: "Courier New",monospace;
	font-size:30px;
}

h1{
	color:orange !important;
}

/*id selector*/
/*#id-name*/
#zuitt-motto{
/*	changes letter spacing*/
	letter-spacing: 5px;
}

/*class selector*/
/* class name*/
.offering-item{
	text-transform: uppercase;
}

/*Attribute Selector*/
/*tagname[attribute]*/



/*

h1+img{
	img is immideatly preceded by h1 and of same parent
}
*/

/*Dscendent Selector*/

/*selector selector*/


/*General Sibling Selector*/
/*selector ~selector*/


/*Child Selector*/
/*selector > selector*/

h2 ~a{
/*	removes underline in the link*/
	text-decoration: none;
}

input[required]
{

	color:navy;
}













