*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;

}

body{
	font-family: "Open Sans";
}

.nav{
	display: inline;
	margin-right:2vw;

}

nav{
	margin-bottom: 10px;
}


.nav-logo{
	
	display: inline;
	margin-top: 10px;
	margin-right:  34vw;
	margin-left:5vw;
}

#logo{
	margin-top : 5px;
}
.right-nav{
	display: inline;
}
.tuitt-button{
	padding:5px;
	background-color: #c2195b;
	border-radius: 20px;
	color:white;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}


.front-bg{
	background-color: rgba(0,0,0,0.55);
	
	height: 50vh;

}
.title{
	font-family: "Zilla Slab";
	color: white;
	text-align: right;
/*	margin-right: vw;*/
	margin-left:45vw;
	font-size: 40px;
	width:45vw;
	margin-bottom: 20px;
/*	float:right;*/
}
.title-2{
	font-family: "Zilla Slab";
	text-align: center;
/*	margin-bottom: 10vh;*/

}
.subtitle{
	color:white;
	text-align: right;
/*	float: left;*/
/*	float: right;*/
margin-left:50vw;

	width:40vw;
	margin-right: 10vw;
	font-size: 24px;
	font-weight: 1;
}
.pre-footer{
	background-color: #f7fbfb;
	margin-top:7vh;
	height: 27vh;
}
.book-button{
	background-color: #336589;
/*	float:center;*/
	margin-left:47vw;
	padding: 8px;
	color:white;
	border-radius: 20px;
	width:7vw;
}
.apply-button{
	margin-top: 3vh;
	margin-right: 10vw;
	margin-left: 83vw;
	padding:5px;
	background-color:#c2195b ;
	background-color: rgb(178,46,89);
	color:white;
	border-radius: 20px;
	width:7vw;
	opacity:2;
	z-index: 2;

}
.intro{
	margin-top:8vh;
}
.intro-description{
	margin-left:10vw;
	margin-right:10vw;
	margin-top:8vh;
}
.prefooter-description{
	margin-left: 10vw;
	margin-right:10vw;
}

footer{
	margin-left:30vw;
}

