

*{
	font-family: "Courier New",monospace;
	font-size: 15px;
}




#internal + p{
	color:yellow;
}

h1{
	font-size: 30px;
}
#smallheading{
	text-transform: uppercase;
}
 .lang{
	background-color: lightgreen;
}


li[border]{
	border:solid;
}

#adj + ul{
	list-style-type: none;
}


section img{
	width:50px;
}

ul ~ p{
	text-align: center;
}

section >h4{
	letter-spacing: 10px;
}